<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.TAdvertisementMapper" >
  <resultMap id="BaseResultMap" type="com.models.TAdvertisement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="adv_content" property="advContent" jdbcType="VARCHAR" />
    <result column="adv_cost" property="advCost" jdbcType="DOUBLE" />
    <result column="adv_bidding_state" property="advBiddingState" jdbcType="VARCHAR" />
    <result column="adv_active_time" property="advActiveTime" jdbcType="TIMESTAMP" />
    <result column="adv_state" property="advState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, adv_content, adv_cost, adv_bidding_state, adv_active_time, adv_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.models.TAdvertisementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_advertisement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_advertisement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_advertisement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.models.TAdvertisementExample" >
    delete from t_advertisement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.models.TAdvertisement" >
    insert into t_advertisement (id, adv_content, adv_cost, 
      adv_bidding_state, adv_active_time, adv_state
      )
    values (#{id,jdbcType=INTEGER}, #{advContent,jdbcType=VARCHAR}, #{advCost,jdbcType=DOUBLE}, 
      #{advBiddingState,jdbcType=VARCHAR}, #{advActiveTime,jdbcType=TIMESTAMP}, #{advState,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.models.TAdvertisement" >
    insert into t_advertisement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="advContent != null" >
        adv_content,
      </if>
      <if test="advCost != null" >
        adv_cost,
      </if>
      <if test="advBiddingState != null" >
        adv_bidding_state,
      </if>
      <if test="advActiveTime != null" >
        adv_active_time,
      </if>
      <if test="advState != null" >
        adv_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="advContent != null" >
        #{advContent,jdbcType=VARCHAR},
      </if>
      <if test="advCost != null" >
        #{advCost,jdbcType=DOUBLE},
      </if>
      <if test="advBiddingState != null" >
        #{advBiddingState,jdbcType=VARCHAR},
      </if>
      <if test="advActiveTime != null" >
        #{advActiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="advState != null" >
        #{advState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.models.TAdvertisementExample" resultType="java.lang.Integer" >
    select count(*) from t_advertisement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_advertisement
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.advContent != null" >
        adv_content = #{record.advContent,jdbcType=VARCHAR},
      </if>
      <if test="record.advCost != null" >
        adv_cost = #{record.advCost,jdbcType=DOUBLE},
      </if>
      <if test="record.advBiddingState != null" >
        adv_bidding_state = #{record.advBiddingState,jdbcType=VARCHAR},
      </if>
      <if test="record.advActiveTime != null" >
        adv_active_time = #{record.advActiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.advState != null" >
        adv_state = #{record.advState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_advertisement
    set id = #{record.id,jdbcType=INTEGER},
      adv_content = #{record.advContent,jdbcType=VARCHAR},
      adv_cost = #{record.advCost,jdbcType=DOUBLE},
      adv_bidding_state = #{record.advBiddingState,jdbcType=VARCHAR},
      adv_active_time = #{record.advActiveTime,jdbcType=TIMESTAMP},
      adv_state = #{record.advState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.models.TAdvertisement" >
    update t_advertisement
    <set >
      <if test="advContent != null" >
        adv_content = #{advContent,jdbcType=VARCHAR},
      </if>
      <if test="advCost != null" >
        adv_cost = #{advCost,jdbcType=DOUBLE},
      </if>
      <if test="advBiddingState != null" >
        adv_bidding_state = #{advBiddingState,jdbcType=VARCHAR},
      </if>
      <if test="advActiveTime != null" >
        adv_active_time = #{advActiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="advState != null" >
        adv_state = #{advState,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.models.TAdvertisement" >
    update t_advertisement
    set adv_content = #{advContent,jdbcType=VARCHAR},
      adv_cost = #{advCost,jdbcType=DOUBLE},
      adv_bidding_state = #{advBiddingState,jdbcType=VARCHAR},
      adv_active_time = #{advActiveTime,jdbcType=TIMESTAMP},
      adv_state = #{advState,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>